.kermit_settins_api {
  background: #323a44;
  min-height: auto;
}
.settings_form {
  .form_head {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    margin: 0 0 24px 0;
  }
}

.field_wrapper .field {
  .info_tooltip_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: help;
  }

  .info_field {
    &:hover {
      path {
        fill: #006eff;
      }
    }

    &.info_field_light {
      path {
        fill: #d1d5db;
      }

      &:hover {
        path {
          fill: #006eff;
        }
      }
    }

    path {
      fill: #8793a3;
    }
  }
}
