.custom_profile_details {
  .edit_area {
    .field_wrapper {
      .field {
        height: fit-content;
        padding: 8px 12px;
      }
    }
    &.mb-10 {
      margin-bottom: 10px;
    }
  }
  .edit_row {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    &.mb-5 {
      margin: 0 0 5px 0;
    }
    &.row_full {
      .field_wrapper {
        width: 100%;
        .field {
          width: 100%;
        }
      }
    }
    .field_wrapper {
      .field {
        height: 34px;
        padding: 8px 12px;
        width: fit-content;
      }
    }
  }
  .item_title {
    margin: 0 0 5px 0 !important;
  }
  .details_column {
    .column_row {
      .details_content {
        &.w-60 {
          width: 60%;
        }
      }
      .row_item {
        .row_item_flex {
          .flex_details {
            .flex_details_column {
              padding: 8px;
              background: rgba(255, 255, 255, 0.1);
              border-radius: 12px;
            }
            &.gap-4 {
              gap: 4px;
            }
          }
        }
      }
    }
    .details_actions {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 20px;
      margin: 35px 0 0 0;
    }
  }
  .editable_custom_name {
    width: 300px;

    .field_wrapper {
      .field {
        padding: 10px 16px;
      }
    }
  }
  .custom_head_title {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  &.wrapper_light {
    .details_column {
      .column_row {
        .row_item {
          .row_item_flex {
            .flex_details {
              .flex_details_column {
                background: #f3fbf2;
              }
            }
          }
        }
      }
    }
  }
}

.kermit_details {
  padding: 0;
  background: transparent;
  gap: 0;
  &.details_light {
    background: transparent;

    .wrapper_head {
      .head_actions {
        .kermit_btn.secondary {
          color: #006eff;

          svg path {
            fill: #006eff;
          }

          &:hover {
            color: #fff;

            svg path {
              fill: #fff;
            }
          }
        }
      }
    }
    .footer_actions {
      .kermit_btn.secondary {
        color: #006eff;

        svg path {
          fill: #006eff;
        }

        &:hover {
          color: #fff;

          svg path {
            fill: #fff;
          }
        }
      }
    }
    .no_photo_wrapper {
      background: #ffffff;

      svg path {
        fill: #8abcff;
      }
    }
    .details_container {
      background: linear-gradient(
        180deg,
        #f6f8fa 0%,
        rgba(246, 248, 250, 0.5) 100%
      );
    }
    .details_column {
      .column_row {
        border-bottom: 1px solid rgb(28, 179, 0, 0.2);
        &.row_merged_anket {
          background: rgba(28, 179, 0, 0.1);
        }
        .column_title {
          color: #020202;
        }
        .photo_wrapp {
          .photo_view {
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 12px;
            position: relative;
          }
        }
        .details_content {
          .row_item {
            .item_title {
              color: #006eff;
              margin-bottom: 8px;
            }
            p {
              color: #020202;
              font-size: 16px;
              &.phone_action {
                .get_contact {
                  background: #f3fbf2;
                  svg {
                    g {
                      path {
                        fill: #1cb300;
                      }
                    }
                  }
                }
              }
            }
            img {
              border: 1px solid #d1d5db;
              border-radius: 8px;
            }
          }
        }
        .row_item {
          .item_title {
            color: #1cb300;
          }

          p {
            color: #020202;
          }
          .row_item_flex {
            .flex_details {
              &.details_bg {
                background: #f3fbf2;
              }
            }
          }

          &.row_item_source {
            background: #f3fbf2;
          }
        }
      }
    }
    .folders_action {
      background: #f0f2f4;
    }
    .details_card_content {
      color: #2c323b;
    }
    .details_card_nobody.card_phone {
      p.phone_action {
        .get_contact,
        .phone_home_item {
          background: #e6f1ff;
        }
      }
    }
    .details_card_body {
      border-top: 1px solid #e6f1ff;
    }
    .details_div {
      p,
      .details_desc {
        color: #2c323b;
        .phone_tg_action {
          background: #e6f1ff;
        }
      }
    }
    .accordion_col_header p {
      color: #2c323b;
    }
    .accordion_col_body {
      border-top: 1px solid #e6f1ff;
    }
    .details_accordions {
      color: #2c323b;
    }
    .details_table_row {
      &:nth-of-type(even) {
        background: #f0f2f4;
      }
    }
    .details_table_title {
      color: #2c323b;
    }
    .details_table_text {
      color: #69788c;
    }
    .accordion_table {
      background: #f0f2f4;
    }
    .accordion_table_section {
      background: linear-gradient(
        180deg,
        #f6f8fa 0%,
        rgba(246, 248, 250, 0.5) 100%
      );
    }
    .spektr_participants {
      color: #2c323b !important;
    }
    .details_documents_container {
      border-color: #e6f1ff;
    }
    .expand_content_divider {
      background: #e6f1ff;
    }
    .show_all {
      background: #e6f1ff;
      color: #006eff;

      svg path {
        fill: #006eff;
      }
    }
  }
  .wrapper_head {
    justify-content: space-between;
    &.accordion_wrapper_head {
      margin-bottom: 16px;
      position: relative;
      z-index: 1;
    }
    .head_details {
      display: flex;
      align-items: center;
      gap: 18px;
      position: relative;
      z-index: 1;
      .kermit_btn {
        height: 38px;
        border-radius: 5px;
        padding: 4px 6px;
      }
    }
    .head_actions {
      display: flex;
      align-items: center;
      gap: 16px;
      position: relative;
      z-index: 2;

      .kermit_btn.secondary {
        color: #d1d5db;

        svg path {
          fill: #d1d5db;
        }

        &:hover {
          color: #fff;

          svg path {
            fill: #fff;
          }
        }
      }
    }
  }
  .details_anket {
    display: flex;
    gap: 32px;
    position: relative;
    z-index: 1;
    &.row_merged_anket {
      background: rgba(255, 255, 255, 0.1);
      border-radius: 12px;
      padding: 12px;
      margin: 12px;

      .source_title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 60%;
        margin: 0 0 20px auto;

        .source_actions {
          display: flex;
          align-items: center;
          gap: 10px;
        }
      }
    }

    .details_content {
      flex-direction: column;
      display: flex;
      gap: 16px;
      width: 100%;
    }

    &.d-column {
      gap: 0;
      flex-direction: column;
      align-items: start;
    }

    &.align-normal {
      align-items: initial;
    }

    &:last-child {
      border-bottom: none;
    }

    .column_title {
      font-weight: 400;
      font-size: 16px;
      color: #ffffff;
      margin: 0 0 12px 0;

      &.mt-10 {
        margin-top: 10px;
      }
    }

    .row_item {
      font-weight: 400;
      font-size: 18px;
      color: #ffffff;
      width: 100%;

      &.row_item_source {
        background: rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        padding: 8px;
      }

      &.folders_column_row {
        width: 20%;

        .folders_action {
          margin: 8px 0;
          display: flex;
          align-items: center;
          gap: 20px;

          .kermit_btn {
            height: auto;
            border-radius: 5px;
            padding: 6px;
          }

          &:last-child {
            margin: 0;
          }
        }
      }

      p {
        &.mb-10 {
          margin-bottom: 10px;
        }

        &.phone_action {
          display: flex;
          gap: 8px;
          align-items: center;

          &:hover {
            .get_contact {
              opacity: 1;
              transition: opacity 0.3s linear;
            }
          }

          .get_contact {
            display: flex;
            align-items: center;
            gap: 4px;
            background: rgba(255, 255, 255, 0.1);
            padding: 3px 6px;
            border-radius: 12px;
            opacity: 0;
            transition: opacity 0.3s linear;
            cursor: pointer;

            svg {
              width: 16px;
              height: 16px;
            }
          }
        }
      }

      .row_item_flex {
        gap: 80px;
        margin: 0 0 12px 0;
        grid-template-columns: repeat(2, 1fr);
        display: grid;

        &:last-child {
          margin: 0;
        }

        .flex_details {
          display: flex;
          flex-direction: column;

          &.gap-4 {
            gap: 4px;
          }

          &.details_bg {
            background: rgba(255, 255, 255, 0.1);
            border-radius: 12px;
            padding: 8px;
          }
        }

        &.gap-10 {
          gap: 10px;
        }

        &.gap-20 {
          gap: 20px;
        }

        &.gap-40 {
          gap: 40px;
        }

        &.flex-3 {
          grid-template-columns: repeat(3, 1fr);
        }

        &.flex-4 {
          grid-template-columns: repeat(4, 1fr);
        }

        &.flex-4-minmax-300 {
          grid-template-columns: repeat(4, minmax(100px, 300px));
        }

        &.flex-1-max-400 {
          grid-template-columns: repeat(1, 400px);
        }

        &.flex-auto-minmax-320 {
          grid-template-columns: repeat(auto-fill, minmax(320px, 320px));
        }
      }

      .item_title {
        color: rgba(255, 255, 255, 0.4);
        line-height: 19px;
        letter-spacing: 0.28px;
        margin: 0;
        white-space: nowrap;

        &.title_center {
          text-align: center;
        }

        &.mb-5 {
          margin: 0 0 5px 0;
        }

        &.mt-10 {
          margin: 10px 0 0 0;
        }
      }
    }
  }

  .details_container {
    background: #2c323b;
    border-radius: 24px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    padding: 18px 24px;
  }
  .details_aside {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 200px;
  }
  .no_photo_wrapper {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background: #1e2329;

    svg path {
      fill: #606d7f;
    }
  }
  .details_aside_content {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .details_aside_row {
    flex-direction: column;
    display: flex;
    align-items: stretch;
    gap: 14px;
    position: relative;
    z-index: 1;

    .photo_view {
      width: 200px;
      height: 200px;
      background: rgba(255, 255, 255, 0.12);
      border-radius: 16px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      img {
        width: 100%;
        object-fit: contain;
      }

      .edit_avatar {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
      }
    }
  }
  .details_div {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .details_label {
      font-size: 16px;
      line-height: 24px;
      font-weight: 600;
      color: #006eff;
    }

    p,
    .details_desc {
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
      color: #d1d5db;
      display: flex;
      align-items: center;
      gap: 6px;
      .phone_tg_action {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        svg {
          path {
            fill: #006eff;
          }
        }
      }
    }
    &.details_div-row {
      display: flex;
      align-items: center;
      flex-direction: initial;
      gap: 8px !important;
    }
  }
  .folders_action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    background: #3a424d;
    padding: 6px 8px;

    .kermit_btn {
      background: transparent;
      width: auto;
      height: auto;
      padding: 0;

      svg path {
        fill: #006eff;
      }

      &:hover {
        background: transparent;

        svg path {
          fill: #004eb5;
        }
      }
    }
  }
  .details_main {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
  }
  .details_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding-right: 200px;

    @media only screen and (max-width: 1440px) {
      padding-right: 24px;
    }

    &.details_grid_big {
      align-items: stretch;
    }
  }
  .details_card_content {
    color: #d1d5db;
  }
  .details_card_nobody {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;

    p {
      &:first-of-type {
        margin-top: 20px;
      }
    }

    &.card_phone {
      p {
        &:first-of-type {
          font-weight: 600;
        }
        &.phone_action {
          display: flex;
          gap: 8px;
          align-items: center;

          &:hover {
            .get_contact,
            .phone_home_actions {
              opacity: 1;
              transition: opacity 0.3s linear;
            }
          }

          .get_contact,
          .phone_home_actions {
            display: flex;
            align-items: center;
            gap: 4px;
            opacity: 0;
            transition: opacity 0.3s linear;
            cursor: pointer;

            svg {
              width: 16px;
              height: 16px;

              path {
                fill: #006eff;
              }
            }
          }

          .get_contact {
            padding: 3px 6px;
            border-radius: 12px;
          }

          .get_contact,
          .phone_home_item {
            background: rgba(255, 255, 255, 0.1);
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .phone_home_item {
            width: 32px;
            height: 32px;
            border-radius: 50%;
          }
        }
      }
    }
  }
  .details_card_header {
    display: flex;
    flex-direction: column;
    gap: 20px;

    p {
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
    }

    .title {
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }
  .details_card_body {
    padding-top: 16px;
    margin-top: 16px;
    border-top: 1px solid #3a424d;

    p {
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
    }
  }
  .details_card_label {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: #006eff;
  }
  .details_accordions {
    display: flex;
    flex-direction: column;
    gap: 18px;
    color: #8793a3;

    .details_div {
      gap: 0;

      &.custom_details_div {
        gap: 4px;
      }
    }
    .sirena_tickets_details {
      display: grid;
      gap: 15px;
      .title {
        span {
          color: #006eff;
        }
      }
    }
  }
  .accordion_content {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    column-gap: 24px;

    &.accordion_row {
      flex-direction: row;
      flex-wrap: wrap;

      & > div {
        width: calc(50% - 12px);
      }

      & > div.social_details_div {
        width: calc(25% - 18px);
      }
    }

    &.accordion_column {
      flex-direction: column;
    }

    &.accordion_content_nocard {
      padding: 16px 18px 0;
    }
  }
  .accordion_list {
    display: flex;
    gap: 16px;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .accordion_col {
    width: calc(100% / 3 - 16px);

    @media only screen and (max-width: 1366px) {
      width: calc(50% - 12px);
    }

    &.accordion_col_auto {
      width: calc(25% - 18px);

      @media only screen and (max-width: 1440px) {
        width: calc(100% / 3 - 16px);
      }
    }

    p {
      word-break: break-all;
    }
  }
  .accordion_col_header {
    p {
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      color: #d1d5db;
    }
  }
  .accordion_col_title {
    color: #8793a3;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
  }
  .accordion_col_body {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 12px;
    border-top: 1px solid #3a424d;
    margin-top: 12px;
  }
  .details_table_row {
    padding: 12px 14px;
    border-radius: 12px;
    display: flex;
    gap: 24px;

    &:nth-of-type(even) {
      background: #3a424d;
    }
  }
  .details_table_title {
    font-size: 14px;
    line-height: 20px;
    color: #d1d5db;
    font-weight: 500;
  }
  .details_table_text {
    color: #8793a3;
    font-size: 13px;
    line-height: 18px;
    font-weight: 600;
  }
  .details_table_cell {
    width: calc(50% - 12px);

    &:first-of-type {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
  }
  .details_table_label {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    color: #006eff;
  }

  .accodrion_tables_wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .accordion_table {
    background: #323a44;
    border-radius: 12px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .accordion_table_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    position: relative;
    z-index: 1;
  }
  .accordion_table_actions {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .accordion_table_body {
    display: flex;
    align-items: flex-start;
    gap: 32px;
  }
  .accordion_table_section {
    background: #2c323b;
    border-radius: 12px;
    padding: 16px;
  }
  .accordion_table_expandcards {
    display: grid;
    align-items: baseline;
    gap: 24px;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
  .spektr_participants {
    color: #d1d5db !important;
  }
  .custom_fieldset {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .details_table_colspan {
    display: grid;
    grid-template-columns: 200px 200px 44px;
    gap: 12px;
    position: relative;
    z-index: 1;
  }
  .custom_edit_date {
    font-size: 14px;
    line-height: 1.4;
  }
  .footer_actions {
    display: flex;
    align-items: center;
    gap: 16px;
    position: relative;
    z-index: 2;
    justify-content: flex-end;

    .kermit_btn.secondary {
      color: #d1d5db;

      svg path {
        fill: #d1d5db;
      }

      &:hover {
        color: #fff;

        svg path {
          fill: #fff;
        }
      }
    }
  }
  .details_form {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .show_all {
    margin: 16px 0 0 0;
    width: 100%;
    height: 32px;
    border-radius: 8px;
    padding: 4px;
    font-weight: 600;
    font-size: 14px;
    background: #152a46;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #006eff;
    cursor: pointer;

    svg path {
      fill: #006eff;
    }
  }
  .expand_content_divider {
    height: 1px;
    background: #3a424d;
  }
  .details_documents_container {
    border: 2px solid #3a424d;
    border-radius: 8px;
    padding: 12px 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
