.kermit_radio {
  &.radio_light {
    .custom_radio {
      border: 2px solid #9ba5b2;
    }

    .label_radio {
      color: #2c323b;
    }
  }

  .label_radio {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #d1d5db;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    position: relative;

    &:hover {
      .custom_radio {
        border-color: #006eff;
      }
    }
  }

  .input_radio {
    margin: 0;
    width: 20px;
    height: 20px;
    visibility: hidden;
    position: absolute;

    &:checked + .custom_radio {
      border-color: #006eff;

      &::after {
        opacity: 1;
      }
    }
  }

  .custom_radio {
    width: 20px;
    height: 20px;
    border: 2px solid #606d7f;
    position: relative;
    display: inline-flex;
    border-radius: 50%;

    &::after {
      display: block;
      position: absolute;
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #006eff;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      opacity: 0.2s;
    }
  }
}
