.kermit_user_logs {
  min-height: fit-content;
  background: linear-gradient(
    180deg,
    #f6f8fa 0%,
    rgba(246, 248, 250, 0.5) 100%
  );
  border-radius: 24px;
  .logs_container {
    .logs_head {
      .head_details {
        display: flex;
        align-items: center;
        gap: 32px;
        background: #f0f2f4;
        border-radius: 24px;
        padding: 24px 32px 24px 24px;
        .head_title {
          white-space: nowrap;
          .user_status {
            display: flex;
            align-items: center;
            gap: 12px;
            color: #2c323b;
            font-size: 16px;
            font-weight: 500;
            .status_dot {
              width: 12px;
              height: 12px;
              border-radius: 50%;
              background: red;
              &.active {
                background: #0ff15c;
              }
            }
          }
        }
      }
    }
    .logs_details {
      padding: 24px;
      .logs_actions {
        display: grid;
        grid-template-columns: 540px 225px;
        justify-content: space-between;
        align-items: flex-end;
        gap: 15px;
        margin: 0 0 12px 0;
      }
    }
  }
  &.kermit_user_dark_logs {
    background: #2c323b;
    .logs_container {
      .logs_head {
        .head_details {
          background: #2c323b;
        }
      }
    }
  }
}
