.history_sources {
  .sources_column {
    margin: 24px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    li {
      cursor: pointer;
      background: #1e2329;
      border: 2px solid #1e2329;
      border-radius: 12px;
      padding: 16px;
      text-align: left;
      width: calc(50% - 12px);
      transition: all 0.2s;
      display: flex;
      align-items: center;
      gap: 16px;

      &:hover {
        border-color: #006eff;

        svg {
          path {
            fill: #006eff;
          }
          &.avito_svg {
            path {
              &.avito_dark_path {
                fill: #006eff;
              }
            }
          }
          &.beeline_svg {
            path {
              &:nth-child(1) {
                fill: #d1d5db;
              }
              &:nth-child(2) {
                fill: #006eff;
              }
              &:nth-child(4) {
                fill: #006eff;
              }
              &:nth-child(3) {
                fill: #006eff;
              }
              &:nth-child(5) {
                fill: none;
              }
            }
          }
          &.mvd {
            path {
              fill: #006eff;
            }
          }
        }
        g.white {
          path {
            fill: white;
          }
        }
      }

      svg {
        width: 26px;
        height: 26px;

        path {
          fill: #9ba5b2;
        }
        g.white {
          path {
            fill: white;
          }
        }
        &.microcredit {
          path {
            &:nth-child(2) {
              fill: #d1d5db;
            }
          }
        }
        &.new_gos_users {
          path {
            &:nth-child(5) {
              fill: #fff;
            }
          }
        }
        &.mvd {
          path {
            fill: #d1d5db;
          }
        }
        &.avito_svg {
          path {
            &.avito_dark_path {
              fill: #9ba5b2;
            }
          }
        }
        &.beeline_svg {
          path {
            &:nth-child(1) {
              fill: #d1d5db;
            }
            &:nth-child(2) {
              fill: #9ba5b2;
            }
            &:nth-child(3) {
              fill: #9ba5b2;
            }
            &:nth-child(5) {
              fill: none;
            }
          }
        }
      }

      .source_description {
        div {
          color: #d1d5db;
          font-size: 16px;
          font-weight: 600;
          line-height: 22px;
        }
        p {
          color: #8793a3;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
        }
      }
    }
    &.sources_column_light {
      li {
        background: #fff;
        border: 2px solid #fff;

        &:hover {
          border-color: #006eff;
        }
        .source_description {
          div {
            color: #2c323b;
          }
          p {
            color: #69788c;
          }
        }
      }
    }
  }
}
