.marked_profiles_content {
  .wrapper_head {
    justify-content: space-between;
  }
  .column_list {
    li {
      cursor: pointer;
      a {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 24px;
        .list_item_name {
          flex-direction: column;
          align-items: flex-start;
          gap: 0;
          p {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.084px;
            color: rgba(255, 255, 255, 0.5);
          }
        }
      }
    }
  }
}
