.user_qr {
  .qr_item {
    display: flex;
    justify-content: center;
    margin: 24px 0 0 0;
  }
  p {
    font-size: 12px;
    font-weight: 600;
    line-height: 17px;
    color: #8793A3;
  }
  #react-qrcode-logo {
    border-radius: 16px;
    margin: 0 0 0 8px;
  }
  &.user_qr_light {
    p {
      color: #69788c;
    }
  }
}
