.history_content {
  .history_search_action {
    max-width: 500px;
    .clear_field {
      cursor: pointer;
    }
  }
  .head_search_panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
  }
  .head_search_results {
    border: 2px solid #b0d2ff;
    height: 36px;
    border-radius: 40px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 14px;
    font-weight: 600;
    color: #69788c;
  }
  .head_search_result {
    display: flex;
    align-items: center;
  }
  .head_search_count {
    font-size: 14px;
    font-weight: 500;
    color: #2c323b;
    margin-left: 4px;
  }
  .list_item_name {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }
  .list_item_data {
    display: flex;
    flex-direction: column;
    width: 160px;
  }
  .list_item_buttons {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .list_item_label {
    font-size: 12px;
    font-weight: 600;
    line-height: 17px;
    color: #69788c;
  }

  &.wrapper_light {
    .btn_active {
      border: 2px solid #006eff;
    }
  }

  .btn_active {
    border: 2px solid #fff;
  }
}
@media only screen and (max-width: 1200px) {
  .history_content {
    max-width: 100%;
  }
}
