.wrapper_actions {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    align-items: flex-start;
}

.filter_action {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 220px;
    gap: 16px;

    &:first-of-type {
        gap: 8px;
        max-width: 100%;
    }
}