.kermit_tabs_row {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
  .tab_item {
    cursor: pointer;
    background: #f6f8fa;
    border: 2px solid transparent;
    font-weight: 600;
    font-size: 14px;
    color: #8793a3;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px 14px;
    white-space: nowrap;
    border-radius: 30px;
    &.selected_tab {
      border: 2px solid #006eff;
      background: #fff;
      color: #006eff;
    }
  }
  &.kermit_tabs_row_dark {
    .tab_item {
      background: #3a424d;
    }
  }
}
